@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

main {
    width: 80%;
    background-color: white;
    margin: 1rem auto;
  }

h1 {
    font-family: 'Bungee Shade', cursive;
    background-color: rgb(152, 17, 17);
    padding: 10px;
    font-size: 60px;
    color: white;
    position: relative;
    margin: 1rem auto;
    text-align: left;
}

.movie {
    padding: 10px;
}

.actions.button-group {
    white-space: nowrap;
    margin-bottom: 0;
}

.movieName {
    margin: 0 0.75rem
}

.movie:last-child {
    border-bottom: 0;
}

.template {
    display: none;
}

ul.movieList {
    margin: 0;
}

ul {
    border: 1px solid rgb(152, 17, 17);
}

.fav {
    color: rgb(203, 174, 6)
}