main {
    width: 80%;
    background-color: whitesmoke;
    margin: 1rem auto;
  }

header {
    position: relative;
    margin: 1rem auto;
    text-align: center;
}

.movieName {
    margin: 0 0.75rem
}

.template {
    display: none;
}